.feed-cont {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  background-color: #455a4d;
}

.cat-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.post-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
