* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: #2a4041 !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Charm";
  font-size: 20px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #455a4d;
}
