.footer-cont {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 2px solid white;
  padding: 35px;
  align-items: center;
  flex-shrink: 0;
  background-color: #2a4041;
}

.footer-logo {
  width: 250px;
  color: white;
  font-weight: 900;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-weight: 900;
  width: 33%;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links:hover {
  color: #455a4d;
}
